export(reportSGP)
export(multi_document)
export(renderMultiDocument)
export(dualTable)
export(placeFigure)
export(setCounters)
export(getCounter)
export(pageBreak)
export(eqnNum)
export(tblNum)
export(tblNumIncrement)
export(tblCap)
export(numbers2words)
export(gofPrint)
export(new_nciea_report)
export(startAppendix)
export(endAppendix)
export(diffFile)
export(getGithubFile)
import(data.table)
import(rmarkdown)
import(SGP)
importFrom(crayon, bold, green, magenta, red, yellow)
importFrom(Cairo,Cairo,CairoSVG)
importFrom(Gmisc, docx_document)
importFrom(graphics, rasterImage, plot, text)
importFrom(grDevices, dev.off, jpeg, pdf)
importFrom(grid, grid.draw)
importFrom(Hmisc, latex)
importFrom(htmlTable, htmlTable)
importFrom(htmltools, htmlEscape)
importFrom(httr, content, GET, stop_for_status)
importFrom(jpeg, readJPEG)
importFrom(knitr, knit, knit_params)
importFrom(markdown, markdownToHTML)
importFrom(stringr, str_match_all)
importFrom(utils, browseURL, download.file, head, tail, packageVersion, read.delim)
importFrom(xfun, is_windows, with_ext)
importFrom(xtable, xtable, print.xtable)
