export(reportSGP)
export(multi_document)
export(renderMultiDocument)
export(dualTable)
export(placeFigure)
export(tblNum)
export(tblNumIncrement)
export(tblCap)
export(eqnNum)
export(setCounters)
export(getCounter)
export(pageBreak)
export(startAppendix)
export(endAppendix)
import(data.table)
import(rmarkdown)
import(SGP)
importFrom(crayon, bold, green, magenta, red, yellow)
importFrom(Gmisc, docx_document)
importFrom(graphics, rasterImage, plot, text)
importFrom(grDevices, dev.off, jpeg)
importFrom(Hmisc, latex)
importFrom(htmlTable, htmlTable)
importFrom(jpeg, readJPEG)
importFrom(markdown, markdownToHTML)
importFrom(utils, tail, packageVersion, read.delim)
importFrom(xtable, xtable, print.xtable)
