export(reportSGP)
export(multi_document)
export(renderMultiDocument)
export(dualTable)
export(placeFigure)
export(tblNum)
export(tblNumIncrement)
export(tblCap)
export(eqnNum)
export(setCounters)
export(getCounter)
import(SGP)
import(data.table)
importFrom(crayon,bold,green,magenta,red,yellow)
importFrom(utils,packageVersion)
import(rmarkdown)
importFrom(markdown, markdownToHTML)
importFrom(Gmisc, docx_document)
importFrom(Hmisc, latex)
importFrom(htmlTable, htmlTable)
importFrom(jpeg, readJPEG)
importFrom(graphics, rasterImage, plot, text)
importFrom(grDevices, dev.off, jpeg)
importFrom(utils, tail)
